#viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 9998;
    display: none;
}

header h1 {
    margin: 0;
    padding: 0;
}

main {
    padding: 20px;
    max-height: calc(100vh - 160px);  /* Adjust based on the size of your header/footer */
    overflow-y: auto;  /* Enable vertical scrolling */
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    padding: 20px;
    background-color: #333;
    color: white;
}

footer {
    padding: 20px;
    background-color: #333;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.post-container {
    margin: 80px auto;
    margin-top: 35px;
    padding: 10px;
    border: 1px solid #ccc;
    background-color: white;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    height: 100%;
    overflow-y: auto;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#hideButton {
    position: fixed;
    top: 10px;
    right: 10px;
    z-index: 9999;
    width: 30px;
    height: 30px;
    background-image: url("./png-transparent-x-cross.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    display: none;
}

article {
    padding: 20px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 5px;
}

article a {
    font-size: 1.5em;
    color: #333;
    text-decoration: none;
}

article p.excerpt {
    color: #666;
    margin: 10px 0;
}

article p.date {
    font-size: 0.8em;
    color: #999;
    opacity: 0.5;
    text-align: right;
}

.logo {
    filter: invert(1);
}

@media (max-width: 480px) {
    #searchInput {
        display: none;
    }
}